In [9]:
!pip install -U pip sqlalchemy psycopg2-binary
import psycopg2, io
from sqlalchemy import create_engine

conn = psycopg2.connect(
    host="postgres_frhack",
    database="db",
    user="user",
    password="password")

SQLALCHEMY_DATABASE_URL = "postgresql://user:password@postgres_frhack:5432/db"

engine = create_engine(
    SQLALCHEMY_DATABASE_URL
)

def create_table(df, table_name):
    df.head(0).to_sql(table_name, engine, if_exists='replace',index=False) #drops old table and creates new empty table

    # conn = engine.raw_connection()
    with conn.cursor() as cur:
        with io.StringIO() as output:
            df.to_csv(output, sep='\t', header=False, index=False)
            output.seek(0)
            contents = output.getvalue()
            cur.copy_from(output, table_name, null="") # null values become ''
        
    conn.commit()

Requirement already satisfied: pip in /usr/local/lib/python3.11/site-packages (22.3.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/site-packages (1.4.44)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.11/site-packages (2.9.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/site-packages (from sqlalchemy) (2.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [10]:
import shelve
with shelve.open('clusters') as db:
    cluster_df = db['df']
create_table(cluster_df, "sonde_cluster")

In [7]:
cluster_df

    id         numero  cluster
0    0   Marseille_01        1
1    1   Marseille_02        1
2    2   Marseille_03        1
3    3      Nantes_01        2
4    4      Nantes_02        2
..  ..            ...      ...
70  70      Rennes_10        1
71  71      Rennes_06        1
72  72      Rennes_09        1
73  73  Strasbourg_06        1
74  74  Strasbourg_07        0

[75 rows x 3 columns]